.action__control {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    transition: color 125ms ease-in-out;
    color: #777777;
    margin: 0 0 0 18px;
}

.action__control:hover {
    cursor: pointer;
    color: #000;
    text-decoration: none !important;
}

.action__control-text {
    font-size: 12px;
    font-weight: lighter;
    line-height: 0.8em;
    margin: 0;
    padding: 0;
}

span.action__control-text {
    display: inline-block;
    margin: 0 auto;
}
