@page "/signin"
@layout NoNavBarLayout

<div class="container-fluid signin__container">
    <div class="center mx-auto">
        <div class="row">
            <div class="logo__manning-publication">
                <img src="/assets/manningPublications.svg" alt="Manning publications logo" />
            </div>
        </div>
        <div class="row">
            <section class="signin__section">
                <div class="title">
                    <i class="fas fa-sign-in-alt fa-2x"></i>
                    <h1 class="signin__section-title">
                        signin
                    </h1>
                </div>
                <form class="signin__form">
                    <input type="email" class="form-control" placeholder="email address" aria-label="email address">
                    <input type="password" class="form-control" placeholder="password" aria-label="password">
                    <div class="signin__form-actions">
                        <button type="button" class="btn btn-primary">sign in now</button>
                        <a class="link-primary" href="/user/forgotPassword">forgot your password?</a>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@code {


}
