@using Manning_Blazor_Clone.Components; 

<nav class="navbar navbar-light bg-white justify-content-between">
        <div>
            <a class="navbar-brand" href="#">
                <img src="/assets/manningLogoBlack.svg" alt="" loading="lazy" height="40" class="d-inline-block">
                <img src="/assets/manningLettersBlack.svg" alt="" loading="lazy" height="20" class="d-inline-block">
            </a>
        </div>
        <div class="form-input-group d-flex">
            <form class="d-flex">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="search for and inside books..." aria-label="Username" aria-describedby="search-button">
                    <button class="input-group-text" id="search-button" aria-label="Search for books"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <ControlAction ActionText="browse" ActionIconClassName="fas fa-book-open fa-2x" LinkUrl="/catalog"/>
        </div>
        <div class="controls">
            <ControlAction ActionText="cart" ActionIconClassName="fas fa-cart-plus fa-2x" LinkUrl="/cart" />
            <ControlAction ActionText="ivan" ActionIconClassName="far fa-user fa-2x" LinkUrl="/signin"/>
        </div>
</nav>

@code {

}
