nav {
    border-bottom: solid thin #eeeeee;
}

.form-input-group {
    flex-grow: 1;
    padding-left: 18px;
}

.form-input-group input {
    height: 41px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav img {
    vertical-align: bottom;
}